{
    "env": {
        "production": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "useBuiltIns": "entry",
                        "corejs": {
                            "version": 3,
                            "proposals": true
                        }
                    }
                ],
                [
                    "@babel/preset-react",
                    {
                        "useBuiltIns": true
                    }
                ]
            ]
        },
        "development": {
            "plugins": [
                "react-hot-loader/babel"
            ],
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "modules": false,
                        "useBuiltIns": "entry",
                        "corejs": {
                            "version": 3,
                            "proposals": true
                        }
                    }
                ],
                [
                    "@babel/preset-react",
                    {
                        "useBuiltIns": true
                    }
                ]
            ]
        }
    },
    "ignore": [
        "__storage__",
        "build",
        "dist",
        "docs",
        "externals",
        "node_modules"
    ]
}
